ion-grid{
    ion-card{
        //width:100%;
        margin-top:0 !important;
        margin-bottom:0.3 !important;
        ion-card-content{
            padding: 1 !important; 
        }
    }
}

p {
    font-size: small;
}