<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainfeed"></ion-back-button>
    </ion-buttons>
    <ion-title>Προσθήκη μέτρησης</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size=5 size-xs=4 size-sm=3 size-md=2 size-lg=2>
        <img src = "assets/thermometer (2).png">
      </ion-col>          
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size=12 size-xs=12 size-sm=8 size-md=6 size-lg=4 no-padding>
      <ion-card color="tertiary">
        <ion-item>
            <ion-label position="stacked">Όνομα παιδιού</ion-label>
          <ion-input class="headertext" type="text" [(ngModel)]="childname" placeholder="Όνομα Παιδιού"></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item justify-content-center align-items-center>
            <ion-label position="stacked">θερμοκρασία</ion-label>
            <ion-input class="headertext" inputmode="numeric" placeholder="θερμοκρασία" type="number"  [(ngModel)]="temp" (ionChange)="refreshtmpbar()"></ion-input>
          </ion-item>
        <ion-item>
          <ion-range [(ngModel)]="tempbar" min="35" max="43" step="0.1" value="36" color="danger" pin="true" (ionChange) = "refreshtmp()">
            <ion-label slot="start">35 C</ion-label>
            <ion-label slot="end">43 C</ion-label>
          </ion-range>
        </ion-item>
      </ion-card>      
      <ion-card>
        <ion-item >
            <ion-label position="stacked">Ημερομηνία</ion-label>
            <ion-datetime class="headertext"  min="2019" display-format="DD/MM/YYYY HH:mm" [(ngModel)]="creationtime"></ion-datetime>
          </ion-item>
      </ion-card>

      <ion-button expand="block" color="primary" shape="round" (click)="updatetemp()">Αποθήκευση</ion-button>
      <ion-button expand="block" color="danger" shape="round" (click)="deltemp()">Διαγραφή</ion-button>
      <ion-button expand="block" fill="clear" color="primary"  (click)="cancel()">Άκυρο</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  

</ion-content>
