.headertext {
    text-align: center;
    font-size: 1.25em;
    }

  .headertext2 {
    text-align: center;
    text-decoration: underline;
  }

  ion-input[type="number"] {
    font-size:20px;
    }